:local {
  .container {
    display: flex;
    justify-content: flex-end;

    .profileWrapper {
      display: flex;
      align-items: center;

      .profileIcon {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }

  .iconButton {
    svg {
      fill: white;
    }
  }
}
