:local {
  .container {
    display: flex;
    justify-content: flex-end;

    .profileWrapper {
      display: flex;
      align-items: center;

      .welcomeMessage {
        padding-left: 12px;
        padding-right: 12px;
      }

      .profileIcon {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .iconButton {
    svg {
      fill: white;
    }
  }
}
