:local{
    .questionBox{

        > div{
            width: 50%;       
        }
    }

    .questionInput2 {
        margin-bottom: 1%;
    }

    .questions2 > div {
        margin-bottom: 2%;
    }
}