:local {
  .button {
    border-radius: 4px;
    cursor: pointer;
    padding: 15px;

    &.primary {
      background-color: rgb(57, 134, 246);
      color: white;

      &:active {
        background-color: rgba(57, 134, 246, .9);
      }

      .secondary {
        background-color: gray;
      }
    }

    &:focus {
      outline: none;
    }
  }
}
