:local {
  .container {
    height: 100%;
  }

  .content {
    margin-top: 64px;
    height: 100%;
  }

  .toolbar {
    align-items: center;
    justify-content: space-between;

    > div {
      width: 33%;
    }

    .loggedInArea {
      .searchBar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
