:local(.searchBar){ 
    display: flex;
    justify-content: center;
    width: 100%;
}

:local(.suggestionMenu) {
    background-color: white;
    position: absolute;
    z-index: 2;
    width: 100%;
}

:local(.autocompleteInput){
    height: 100%;
    width: 100%;
}