:local {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;

    & > div:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .buttonsDiv {
    > div {
      margin-bottom: 10px;
      button {
        width: 100%;
      }
    }
  }

  .error {
    color: red;
    margin-bottom: 15px;
  }
}
