:local {
  .container {
    padding: 50px;

    .paper {
      padding: 50px;

      .total {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 30px;
      }

      .payment {
        padding-top: 30px;
      }
    }
  }
}
