:local {
  .container {
    display: flex;
    width: 100%;
    //height: 100%;

    .wrapper {
      width: 100%;
      margin: 50px;
      padding: 50px;

      .publications {
        .addPublicationButtonContainer {
          width: 100%;
          display: flex;
          justify-content: flex-end;
        }
      }

      .empty {
        .addPublicationButtonContainer {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 40px;
        }
      }

      .publicationItem {
        padding: 20px 0;

        &:not(:last-child) {
          border-bottom: 1px solid rgba(0, 0, 0, .3);
        }
      }
    }

    .addPublicationButtonContent {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}
